.progress-container {
  background-color: #c6cdf2;
  border-radius: 8px;
  height: 10px;
  margin: 10px 0;
  position: relative;
  width: 100%;
}

.progress-bar {
  background-color: #F5F5F5;
  height: 100%;
  border-radius: 8px;
  transition: width 0.3s ease-in-out;
}

.step-indicators {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.step {
  background-color: #c6cdf2;
  border-radius: 50%;
  color: #7AAEC4;
  font-family: "Poppins";
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step.active {
  background-color: #F5F5F5;
  color : c6cdf2;
  font-size : bold;
}
