<p class="small-title">Bienvenue sur</p>
<br>
<h1 class="big-title">Lama Tennis</h1>

<div class="container">
  <img src="assets/logo/logo-rond.png" alt="Logo-rond-lama" class="image">
</div>

<div class="container-button">
  <a routerLink="InscriptionStep1" routerLinkActive="active"><button mat-flat-button class="button-login-registration">Connexion</button></a>
</div>

<div class="container-button">
  <a href="www.google.fr"><button mat-flat-button class="button-login-registration">Inscription</button></a>
</div>

