.small-title{
  color: white;
  font-size: 2em;
  text-align: center;
  margin-top: 50px;
  font-family: "CooperStyle";
}

.big-title{
  color: white;
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
  font-family: "CooperStyle";
}

.container{
  width: 100%;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center;    /* Centre verticalement */

}

.image{
  max-width: 70%;
  max-height: 70%;
  object-fit: cover;
}


/* button style */
.button-login-registration{
  background-color: white;
  font-family: "CooperStyle";
  color: #7AAEC4 !important;
  text-align: center;
  border-radius: 10px;
  border: 4px solid #c9d9ea;
  font-size: 1.2em;
  width: 150px;
  height: 40px;
  margin-bottom: 20px;
}

.button-login-registration:hover {
  background-color: #c9d9ea; /* Couleur de fond au survol */
  color: white; /* Couleur du texte au survol */
}

.container-button{
  width: 100%;
  overflow: hidden;
  text-align: center;
}
