<app-back-button [link]="'/InscriptionStep2'"></app-back-button>

<h1 class="small-title">Inscription</h1>

<div class="div-content">
<p class = "text">Quel est ton level?</p>

<div class="example-container">
  <app-form-choice-level></app-form-choice-level>
<br>
<p class = "text">T'as déjà été classé?</p>
<form-choice-level-ranking></form-choice-level-ranking>

</div><div class="next-button-container">
  <a href="/InscriptionStep2"><button mat-flat-button class="next-button" style="color:#7AAEC4">Continuer</button></a>
</div>
<div class="div-content-bar">
<app-progress-bar [currentStep]="3"></app-progress-bar>
</div>
