.small-title{
  color: white;
  font-size: 2em;
  text-align: center;
  margin-top: 50px;
  font-family: "CooperStyle";
}

.big-title{
  color: white;
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
  font-family: "CooperStyle";
}


.mat-mdc-form-field {
  margin-top: 16px;
}

.text {
  color: white;
  font-family: "Poppins";
  text-align: center;
}
