<app-back-button></app-back-button>

<h1 class="small-title">Créer un compte gratuitement</h1>

<div class="div-content">
<p class = "text">Ton adresse e-mail :</p>
<email-button></email-button>



<p class = "text">Créer un mot de passe :</p>
<password-button></password-button>
<br><br>


</div><div class="next-button-container">
<button mat-flat-button class="next-button" style="color:#7AAEC4">Continuer</button>
</div>
<div class="div-content-bar">
<app-progress-bar [currentStep]="currentStep"></app-progress-bar>
</div>
