.small-title{
  color: white;
  font-size: 2em;
  text-align: center;
  margin-top: 30px;
  font-family: "CooperStyle";
}

.big-title{
  color: white;
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
  font-family: "CooperStyle";
}


.mat-mdc-form-field {
  margin-top: 16px;
}

.text {
  color: white;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1.2em;

}

.div-content {
  margin-left: 20%;
  margin-right: 20%;
  margin-top : 50px;
  margin-bottom : 100px;
}

.div-content-bar {
  margin-left: 20%;
  margin-right: 20%;
  margin-top : 10px;
}

.button-email {
  font-size: small;
  color: blue;
}

  .next-button-container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement si nécessaire */
  }

  .next-button{
    background-color: white;
    font-family: "CooperStyle";
    text-align: center;
    color: #7AAEC4;
    text-align: center;
    border-radius: 20px;
    border: 4px solid #c9d9ea;
    font-size: 1.4em;
    width: 150px;
    height: 40px;
    margin-bottom: 20px;

  }

  .button-login-registration:hover {
    background-color: #c9d9ea; /* Couleur de fond au survol */
    color: white; /* Couleur du texte au survol */
  }

  .container-button{
    width: 100%;
    overflow: hidden;
    text-align: center;
  }


  /* button style */
.next-button{
  background-color: white;
  font-family: "CooperStyle";
  color: #7AAEC4 !important;
  text-align: center;
  border-radius: 10px;
  border: 4px solid #c9d9ea;
  font-size: 1.2em;
  width: 150px;
  height: 40px;
  margin-bottom: 20px;
}

.next-button:hover {
  background-color: #c9d9ea; /* Couleur de fond au survol */
  color: white; /* Couleur du texte au survol */
}
